@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Lightgray);
}
main{
    border-radius: 15px;
    padding: 17px 18px;
    text-align: center;
    background-color: var(--White);
}
img{
    border-radius: 15px;
}
h1{
    margin: 14px;
    font-size: 22px;
    color: var(--Darkblue);
}
p{
    font-size: 15px;
    color: var(--Grayishblue);
}
.attribution {
    font-size: 11px;
    font-weight: 700;
    margin: 11px;
    text-align: center;
}
.attribution a {
color: hsl(228, 45%, 44%);
}